/* topページボタン */
/*
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.btn--blue,
a.btn--blue {
  color: #fff;
  background-color:#0000cd;
}
.btn--blue:hover,
a.btn--blue:hover {
  color: #fff;
  background: #0000ff;
}

.btn--green,
a.btn--green {
  color: #fff;
  background-color: #00FF00;
}
.btn--g.btn--green,
a.btn--green:hover {
  color: #fff;
  background: #00FF00;
}

.btn--lightblue,
a.btn--lightblue {
  color: #fff;
  background-color: #87CEFA;
}
.btn--g.btn--lightblue,
a.btn--lightblue:hover {
  color: #fff;
  background: #87CEFA;
}
*/


/*スマホ用*/
@media screen and (max-width:428px) {
  /*全体用*/
  html, body { 
    height: 100%; 
    font-family: "Montserrat";
  }
  a, button {
    font-family: "Montserrat";
  }
  .main {
    margin-top: 20%;
  }

  /*menubar用*/
  .menu_bar{
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
  }
  .title {
    width: 100%;
    height: 25%;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border-radius:5px 5px 0px 0px;
  }
  .menu {
    width:100%;
    height: 75%;
    padding:0;
    margin:0;
    list-style-type: none;
  }
  .menu li {
    width:20%;
    height: 65%;
    float:left;
    padding:0 0 0 0;
    margin:0;
    text-align:center;
  }
  .menu li a {
    width:auto;
    color:#fff;
    font-size: 5vw;
    font-weight:bold;
    padding:10px 0;
    text-decoration:none;
    display:block;
  }
  .menu li:first-child {
    border-radius:0px 0px 0px 5px;
  }
  .menu li:last-child {
    border-radius:0px 0px 5px 0px;
  }
  /*menu色付け*/
  .menu_red{
    background: #DC143C;
  }
  .menu_red :hover {
    background:rgb(189, 8, 8);
  }
  .menu_blue{
    background: #0000ff;
  }
  .menu_blue :hover {
    background:#0000c0;
  }
  .menu_orange{
    background: #f56500;
  }
  .menu_orange :hover {
    background:#eb6100;
  }
  .menu_green{
    background: #00ff00;
  }
  .menu_green :hover {
    background:#00c000;
  }
  .menu_lightBlue{
    background: #00ffff;
  }
  .menu_lightBlue :hover {
    background:#008080;
  }

/*index.html用*/
.img {
  margin-top: 30%;
  text-align: center;
  width: 100%;
}
.tag {
  text-align: center;
  font-weight: bold;
}
#logo {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.discribe {
  width: 90%;
  margin: 0 auto;
  color: #333;
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.discribe.on {
  transform: translateY(0);
  opacity: 1.0;
}
.discribe.off {
  transform: translateY(0);
  opacity: 0;
}
.discribe_section {
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
  height: 1200px;
}

  /*top.html用*/
  .title_top {
    width: 100%;
    height: 3%;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border-radius:5px 5px 5px 5px;
  }
   .btn_area {
     height: 25%;
     width: 100%;
   }
  .top_btn {
    padding: 20px;
    border: none;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
  }
/*文字スタイル*/
.top_btn .top_font {
  color: #fff;
  font-size: 20vw;
  text-decoration:none;
}
/* ボタンをマウスホバーしたとき、ボタンを薄くする */
.top_btn :hover {
    opacity: .7;
  }
/* ボタンをクリックしたとき、ボタン上部に余白を作る */
.top_btn :active {
    margin-top: 0.2em;
  }
	.top_btn {
    height: 25%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  /* 青ボタンのスタイル */
  .btn_blue {
    margin-top: 5px;
    height: 80%;
    width: 80%;
    background-color:#0000ff;
    box-shadow: 0 0.3em 0 #0000c0;
  }
.btn_blue:active {
    box-shadow: 0 0.1em 0 #0000c0;
  }
  /* オレンジボタンのスタイル */
  .btn_orange {
    height: 80%;
    width: 80%;
    background-color: #f56500;
    box-shadow: 0 0.3em 0 #eb6100;
  }
  .btn_orange:active {
    box-shadow: 0 0.1em 0 #eb6100
  }
  /* 緑ボタンのスタイル */
  .btn_green {
    height: 80%;
    width: 80%;
    background-color:#00ff00;
    box-shadow: 0 0.3em 0 #00c000;
  }
  .btn_green:active {
    box-shadow: 0 0.1em 0 #00c000;
  }
  /* 水色ボタンのスタイル */
  .btn_lightBlue {
    height: 80%;
    width: 80%;
    background-color:#00ffff;
    box-shadow: 0 0.3em 0 #008080;
  }
  .btn_lightBlue:active {
    box-shadow: 0 0.1em 0 #008080;
  }

  /*input.html用*/
  form {
    margin-top: 30%;
  }
  .input_table {
    width: 90%;
    margin: 0 auto;
  }
  .contact_body {
    font-size: 7vw;
    padding: 10%;
    text-align: center;
  }
  .submit {
  width: 250px; /* 横幅指定 */
  background-color: #333; /* 背景色 */
  color: #fff; /* 文字色 */
  font-weight: bold; /* 文字の太さ */
  display: block; /* インライン要素をブロック要素に変更 */
  margin: 0 auto; /* 中央寄せ */
  margin-top: 15%;
  font-size: 5vw; /* 文字の大きさ */
  padding: 15px; /* 内側の余白 */
  border-radius: 100vh; /* 角丸指定 */
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/*output.html用*/
.map {
  margin-top: 15%;
  width: 100%;
  padding-top: 100%;
  border: 7px solid #333;
  border-radius:5px;
}

/*data.html用*/
  #table_area {
    margin-top: 15%;
    padding-bottom: 15%;
  }
  #data_table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
  }
  #data_head {
    font-size: 5vw;
    text-align: center;
    background-color: #BBBBBB;
    border: 1px solid gray;
    border-bottom: 2px solid #333;
  }
  #data_body {
    font-size: 5vw;
    text-align: center;
    border: 1px solid gray;
  }
  #graph_area{
    height: 100%;
    width: 100%;
    padding-bottom: 15%;
  }
  #graph{
     width: 90%;
     margin: 0 auto;
  }
  #map_area{
    height: 700px;
  }
}